.header {
	background: #0067A3;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 0 20px;
}

.logo {
	width: 36px;
    height: 36px;
    margin-right: 8px;
    margin-left: 14px;
    border-radius: 54px;
    background-color: white;
}

.userName {
	cursor: default;
}

.logoBlock{
	display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-left: auto;	
    min-width: 158px;
}
.logoArrow{
	transition: 0.3s;
	transform-origin: 50% 50%;
	transform: rotate(1deg);
	cursor: pointer;
	display: inline-block;
}
.logoArrow.reverted{
	transform: rotate(180deg);
}
.userActions {
	position: absolute;
    top: 135%;
    left: 0;
    background-color: white;
    width: 100%;
    border-radius: 3px;
    visibility: hidden; 
    overflow: hidden;
    opacity: 0; 
    transition: 0.3s;
    border-radius: 10px;
}
.userActions.opened{
	visibility: visible;
	opacity: 1;
}
.logoImageblock{
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.userActionItem{
	padding: 1em;
	cursor: pointer;
	transition: 0.3s;
	font-weight: bold;
	color: #282828;
}
.userActionItem:hover {
	background-color: #e1e1e1;
}
.userActionItem:not(:last-child) {
	border-bottom: 1px solid #b0b0b0;
}


